/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2017, 10:51:29 AM
    Author     : HP5
*/
/* line 11, ../scss/main.scss */
body {
  margin: 0;
}

/*Files import*/
@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book.woff") format("woff"), url("../fonts/gotham-book.ttf") format("truetype"), url("../fonts/gotham-book.svg#gothambook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype"), url("../fonts/gotham-bold.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 47, ../scss/main.scss */
.top-strip-green {
  background: #4fbca6;
}

/* line 48, ../scss/main.scss */
.call-us-section {
  text-align: right;
  color: #fff;
  font-family: 'Gotham Book';
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
}

/* line 49, ../scss/main.scss */
.call-us-section p {
  margin-bottom: 0;
}

/* line 50, ../scss/main.scss */
.call-us-section a {
  color: #fff;
  font-family: 'Gotham Bold';
  text-decoration: none;
}

/* line 51, ../scss/main.scss */
.call-us-section a:hover {
  text-decoration: none;
}

/* line 52, ../scss/main.scss */
.header-strip {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 53, ../scss/main.scss */
.navbar-nav li a {
  font-family: 'Gotham Medium';
  text-transform: uppercase;
  color: #555555;
}

/* line 54, ../scss/main.scss */
.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 17px;
  padding-right: 17px;
}

/* line 55, ../scss/main.scss */
.navbar-nav li:last-child a {
  padding-right: 0 !important;
}

/* line 56, ../scss/main.scss */
.header-menu .navbar {
  padding: 0;
}
