/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2017, 10:51:29 AM
    Author     : HP5
*/

body{ margin: 0; }
/*Files import*/
@import 'base/_variables.scss';
@import 'custom/custom.scss';
 
@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham-bold.eot');
    src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold.woff') format('woff'),
         url('../fonts/gotham-bold.ttf') format('truetype'),
         url('../fonts/gotham-bold.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.top-strip-green{ background: #4fbca6; }
.call-us-section{ text-align: right; color: #fff; font-family: 'Gotham Book'; padding-top: 18px; padding-bottom: 18px; text-transform: uppercase; }
.call-us-section p{ margin-bottom: 0; }
.call-us-section a{ color: #fff; font-family: 'Gotham Bold'; text-decoration: none; }
.call-us-section a:hover{ text-decoration: none; }
.header-strip{ background-color: #fff; padding-top: 15px; padding-bottom: 15px; }
.navbar-nav li a{ font-family: 'Gotham Medium'; text-transform: uppercase; color: #555555; }
.navbar-expand-md .navbar-nav .nav-link{ padding-left: 17px; padding-right: 17px; }  
.navbar-nav li:last-child a{ padding-right: 0 !important; }
.header-menu .navbar{
    padding: 0;
}